.releasesTable {
  display: block;
  width: auto;
}

.releasesTable__head {
  font-weight: bold;
}

.releasesTable__headColumn {
  padding-bottom:0.2em;
}

.releasesTable__merchantLink {
  margin-right: 0.6rem;
}

.releasesTable__column {
  padding: 0.2em;
}

.releasesTable__boughtColumn {
  width: 4.6rem;
  text-align: center;
}

.releasesTable__boughtCheckbox {
  transform: scale(1.5);
}

.releasesTable__artistsColumn {
  min-width: 15rem;
}

.releasesTable__albumColumn {
  min-width: 20rem;
  padding-right: 0.8em;
}
